#caja{
    
    margin: 20px;
    padding: 10px;
    width: 100px;
    height: 100px;
    transition: 2s;
    border: 3px solid black;
    border-style: double;
   
}

#boton{
    padding: 5px;
    margin: 10px;
}

.cajaCirculo{
    transition: 2s;
    border-radius: 55px;
    background-color: rgb(91, 24, 197);
    
}

